@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,800&display=swap");

html {
  margin: 0;
}

body {
  margin: 0;
}

.no-cursor {
  cursor: none;
}

#cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: none;
  pointer-events: none;
  display: none;
  transform: translateX(-100%);
  z-index: 99;
}

#header {
  width: 100vh;
  position: fixed;
  z-index: 99;
  text-align: center;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  background-color: white;
}

h1 {
  font-weight: 800;
  font-style: italic;
  font-size: 10vw;
  color: #ff7d33;
  letter-spacing: 1vw;
  margin: 0;
  padding: 0.16em;
}

h2 {
  font-size: 2.2em;
  margin-top: 1em;
  margin-left: 1em;
  font-weight: 400;
}

h3 {
  font-size: 2em;
  font-weight: 400;
}
h4 {
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 5em;
}

p {
  font-size: 0.8em;
  margin-top: 1em;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Raleway", sans-serif;
}

.background-top {
  position: absolute;
  background-color: #ff7d33;
  height: 50vh;
  width: 100vw;

  z-index: -1;
}
.background-bottom {
  position: absolute;
  top: 50vh;
  background-color: #ddd9d9;
  height: 50vh;
  width: 100vw;
  z-index: -1;
}

.product-display {
  position: relative;
  margin-left: 18vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5vw;
  height: 100vh;
  align-items: center;
}

.product-display ul {
  position: absolute;
  display: flex;
  top: 50%;
  left: 51%;
  transform: translate(-51%, -50%);
  text-decoration: none;
  list-style: none;
  pointer-events: none;
}

.patch-container img {
  margin: 1.2vw;
  height: 6vw;
  width: auto;
}

/* Get 1st patch */
.patch-container > .perspective:first-child {
  transform: rotate(6deg) perspective(15vw) rotateY(-16deg) translateY(-1vw);
}

/* Get 3rd patch */
.patch-container > .perspective:last-child {
  transform: rotate(-6deg) perspective(15vw) rotateY(16deg) translateY(-1vw);
}

.product-image {
  position: relative;

  /* width: 34em; */
  /* top: -22vh; */
}

figure {
  margin: 0;
}

#Group_1 {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.flex {
  display: flex;
}

.circle-grid {
  display: grid;
  margin-left: 6vw;
  margin-right: 6vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.circle {
  width: 3em;
  height: 3em;
  border-radius: 50px;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
.c1 {
  background-color: rgb(255, 125, 147);
}

.c2 {
  background-color: #bff4c7;
}

.c3 {
  background-color: #64cfe7;
}

.c4 {
  background-color: #c8b7fc;
}
.c5 {
  background-color: #fefa9e;
}
.c6 {
  background-color: #d26e80;
}
.c6 {
  background-color: rgb(73, 150, 70);
}
.c7 {
  background-color: #faa544;
}
.c8 {
  background-color: #ffd074;
}

.patch {
  width: auto;
  height: 3em;
  border-radius: 50px;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

[data-feature="dragon"],
[data-feature="money"] {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

[data-feature="snail"] {
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#product-info {
  display: flex;
  justify-content: space-between;
  margin-right: 10vw;
}

.block-flex {
  margin-right: 10vw;
}

p {
  font-weight: 100;
  margin-top: 0;
}

.flex :first-child {
  font-weight: 600;
  margin-left: 4em;
}
.flex :last-child {
  margin-left: 0.5em;
}

button {
  margin-left: 6vw;
  background-color: #ff7d33;
  border: 0px;
  width: 50%;
  height: 2.2em;
  font-size: 1.2em;
  border-radius: 25px;
  margin-top: 3.4em;
  color: white;
}

#shaddow_Image,
defs {
  pointer-events: none;
}

section > svg > g:not(#background) path:hover {
  stroke: black;
  stroke-width: 3;
}

.chosen {
  filter: opacity(30%);
}
